/* Creamos class= "Titulo" en el archivo html,dentro de la etiqueta h1 */

.titulo {
	background-color: slateblue;
	color: white;
	font-family: Tahoma;
	padding: 10px;
}

/*creamos ID= "encabezadostabla" en el archivo html,dentro de la etiqueta <table><tr><th>*/
#encabezadostabla{
	color:black;
	font-family: Verdana;
	background-color: pink;
}

/*Creamos ID="primeracolumna". Los datos de la primera columna le aplicamos el fondo hotpink*/
#primeracolumna{
	background-color: hotpink;
	color: black;
	
}