/* Creamos class= "Titulo" en el archivo html,dentro de la etiqueta h1 */

.titulo {
	background-color: slateblue;
	color: white;
	font-family: Tahoma;
	padding: 10px;
	width: 300px;
}

/*Creamos ID="primeracolumna". Los datos de la primera columna le aplicamos el fondo hotpink*/
#primeracolumna{
	background-color: hotpink;
	color: black;
	font-weight: bold;
	
}
/*Creamos la id= "anchoportada" para aplicar el ancho de la portada*/
.anchoportada{
	width: 250px;
	box-shadow: 2px;
	
}

/*Creamos la id="tabla". ingresamos ancho,sombra y tabla separada de la portada 10px*/
.tabla{
	margin-top: 10px;
	width: 250px;
	box-shadow: 2px;
	
}
/*Usamos la class= tabla  y la le pedimos que si tiene este elemento <th> le aplicamos este diseño*/
.tabla th{
	color:black;
	font-family: Verdana;
	background-color: pink;
}
/*Agregamos a la tabla y los elementos un borde,grosor de 3px y color red */
.tabla, .tabla th, .tabla td {
	border: 3px solid  red;
  }