/* Estilo general */

.titulo {
	background-color: slateblue;
	color: white;
	font-family: Tahoma;
	padding: 10px;
}

/*Creamos la class="form_diseño"en el html y modificamos el tipo de texto*/
.form_diseño{
	font-family: Calibri;
}

/*Modificamos el tipo de texto a los encabezados de las agrupaciones*/
.form_diseño legend{
	font-family: Verdana;
}

/*Creamos la class="img_diseño" en el html y modificamos su ancho */
.img_diseño img:nth-child(1){
	width: 50px;
}

/*Creamos la class="boton" en el html y modificamos su borde,fondo,texto y tamaño del texto*/
.boton{
	padding: 25px;
	background-color: darkblue;
	color: skyblue;
	font-size: 2em;
}

/*Para el diseño del boton del archivo ejercicio2B */
.boton2{
	padding: 25px;
	background-color: darkblue;
	color: skyblue;
	font-family: Arial;
	font-size: 2em;
}